<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="multisearch" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Multisearch</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/isteven-angular-multiselect/isteven-multi-select.css">
  <link rel="stylesheet" href="bower_components/ng-notifications-bar/dist/ngNotificationsBar.min.css" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/isteven-angular-multiselect/isteven-multi-select.js"></script>
  <script src="bower_components/angular-underscore/angular-underscore.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/ng-notifications-bar/dist/ngNotificationsBar.min.js"></script>
  <script src="bower_components/angular-toArrayFilter/toArrayFilter.js"></script>
  <script src="app.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</head>
<body>
  
  <!-- Notifications Bar -->
  <div notifications-bar class="notifications"></div notifications-bar>
  
  <!-- Search Box -->
  <div ng-cloak>
    <div ng-controller="SearchController">
      Search:
      <!-- The search box -->
      <input ng-model="query">
      <!-- Multiselect for sites to search -->
      <span isteven-multi-select
        input-model="availableSites"
        output-model="selectedSites"
        button-label="label"
        item-label="label"
        tick-property="selected"
      >
      </span>
      <!-- Search button -->
      <button ng-click="search()" type="button" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
      
      <!-- Display results, ordered by the site -->
      <div ng-repeat="data in results | toArray | orderBy:'+label'">
          <div ng-repeat="result in data.results">
            <!-- Twitter/Wikipedia Icon -->
            <span class="icon-wikipedia-w"></span>
            <i ng-class="labelToIconClass[data.label]"></i>
            <a ng-href="{{result.url}}" target="_blank">
              <span ng-if="result.title">{{result.title}}</span>
              <span ng-if="!result.title">
                <i class="glyphicon glyphicon-share"></i>
              </span>
            </a>
            {{result.description}}
          </div>
      </div>
    </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
</body>
</html>
